.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}

.container {
  margin: 0.5rem;
}
